@import url('./reset.css');

/* montserrat-regular - latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/montserrat-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v15-latin-regular.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-italic - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/montserrat-v15-latin-italic.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/montserrat-v15-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v15-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v15-latin-italic.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v15-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v15-latin-italic.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-500 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/montserrat-v15-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/montserrat-v15-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v15-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v15-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v15-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v15-latin-500.svg#Montserrat') format('svg'); /* Legacy iOS */
  }
  /* montserrat-700 - latin */
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v15-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/montserrat-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/montserrat-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/montserrat-v15-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/montserrat-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/montserrat-v15-latin-700.svg#Montserrat') format('svg'); /* Legacy iOS */
  }

html {
    font-size: 62.5%; /* 1rem = 10px */
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    color: #444444;
    line-height: 1.8;
    text-rendering: optimizeLegibility;
}

.wrapper {
    margin: 0 auto;
    max-width: 1400px;
    overflow: hidden;
    min-height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1240px;
    margin: 0 auto;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 2em 2em;
}

.header__logo_img {
    max-width: 130px;
}

/* Mobile menu style start */

#header__input {
    opacity: 0;
}

.header__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 31px;
    right: 14px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.header__btn > span,
.header__btn > span::before,
.header__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #000;
}

.header__btn > span::before {
    content: '';
    top: -8px;
}

.header__btn > span::after {
    content: '';
    top: 8px;
}

.header__list {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    overflow: scroll;
}

.header__mobile-logo {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 80px;
    height: 120px;
    right: 106px;
    top: 70px;
}

.header__list_item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.header__list_item:hover,
.header__list_item:active,
.header__list_item:focus {
    background-color: #b9b9b9;
    border-radius: 6px;
    transition: all 0.4s ease;
}

.header__list_item:hover > .header__link.list-link,
.header__list_item:active > .header__link.list-link,
.header__list_item:focus > .header__link.list-link {
    color: #4b7024;
}

.header__link.list-link {
    display: inherit;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

#header__input:checked ~ .header__btn > span {
    transform: rotate(45deg);
}

#header__input:checked ~ .header__btn > span::before {
    top: 0;
    transform: rotate(0);
}

#header__input:checked ~ .header__btn > span::after {
    top: 0;
    transform: rotate(90deg);
}

#header__input:checked:checked ~ .header__list {
    visibility: visible;
    right: 0;
    padding-top: 215px;
}

#header__input:checked:checked ~ .header__mobile-logo {
    visibility: visible;
}

.header__btn > span,
.header__btn > span::before,
.header__btn > span::after {
    transition-duration: .25s;
}

.header__list_item {
    transition-duration: .25s;
}

.header__list_item {
    transition-duration: .25s;
}

/* Mobile menu style end */

.content {
    flex: 1 1 auto;
}

.content__slider {
    display: block;
    margin-bottom: 2em;
}

.content__slider_img {
    max-height: 500px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.content__about {
    margin: 0 2em 4em 2em;
}

.content__about_title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.5rem;
    margin-bottom: 2em;
}

.content__about_title > span {
    display: block;
    height: 1px;
    background-color: #000;
    width: 20px;
    margin: 0 auto;
}

.content__about_title-paragraphe {
    font-weight: 500;
}

.content__about_paragraphe-wrapper {
    font-size: 1.2rem;
    font-weight: 700;
    text-align: justify;
    margin-bottom: 2em;
}

.content__about_top3-item {
    margin-bottom: 2em;
}

.content__about_top3-item-link {
    text-decoration: none;
    color: inherit;
}

.content__about_top3-item-link:hover,
.content__about_top3-item-link:active,
.content__about_top3-item-link:focus {
    color: #4b7024;
}

.content__about_top3-item-img {
    margin: 0 auto;
}

.content__about_top3-item-title {
    text-align: center;
    text-transform: uppercase;
    margin: 1em 0;
}

.content__about_top3-item-paragraphe {
    text-align: justify;
    font-size: 1.2rem;
}

.content__price {
    background-color: #ABDCE1;
    margin-bottom: 2em;
}

    /* Add new style for Bootstrap accordion start */

.accordion {
    padding: 1em;
    font-family: inherit;
    font-size: 1.2rem;
}

.accordion-item {
    margin-bottom: 1.5em;
}

.accordion-item:last-child {
    margin-bottom: 0;
}

.accordion-item {
    border: 1px solid #FFFFFF;
}

.accordion-button:not(.collapsed) {
    background-color: #fff;
    color: #000;
}

.accordion-button:active,
.accordion-button:focus {
    background-color: #fff;
    outline: 0;
    color: #000;
}

.accordion-button {
    font-family: inherit;
    font-style: italic;
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #000;
}

.accordion-collapse.collapse.show {
    background-color: #c9e9ec;
}

.accordion-body__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.5px dashed white;
    line-height: 2.5em;
}

.accordion-body__row_col2 {
    margin: auto 0 auto 0.5em;
}

    /* Add new style for Bootstrap accordion end */

.content__price_img-logo {
    margin: auto;
    padding: 1em;
}

.content__gallery {
    margin-bottom: 2em;
}

.content__gallery_title {
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 5px;
    margin: 2em 0;
}

.content__gallery_title > span {
    display: block;
    height: 0.5px;
    background-color: #000;
    width: 20px;
    margin: 0 auto;
}

.content__gallery_wrapper > div {
    margin-bottom: 2em;
}

.content__gallery_img {
    margin: auto;
}

.content__gallery > span {
    display: block;
    height: 0.5px;
    background-color: #000;
    width: 60%;
    margin: 0 auto;
}

.content__membership_title {
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 2em;
}

.content__membership_item {
    max-width: 250px;
    margin: 0 auto 2em;
}

.content__membership_link {
    text-decoration: none;
    color: inherit;
}

.content__membership_link:hover,
.content__membership_link:active,
.content__membership_link:focus {
    color: inherit;
}

.content__membership_link:hover button {
    background-color: #84c340;
    color: #fff;
    border-radius: 5px;
    transition: all .4s ease;
}

.content__membership_link span {
    display: none;
}

.content__membership_link:hover span {
    display: block;
    width: 185px;
    height: 125px;
    background-color: white;
    position: relative;
    left: 25px;
    top: 17px;
    z-index: 1;
    opacity: 60%;
}

.content__membership_paragraph {
    font-size: 5rem;
    position: relative;
    top: 35px;
}

.content__membership_link:hover img {
    position: relative;
    margin-top: -125px;
}

.content__membership_list {
    line-height: 4em;
    border: 0.5px solid grey;
}

.content__membership_list-item {
    padding: 0 0.5em;
}

.content__membership_list li:first-child {
    text-transform: uppercase;
    letter-spacing: 3px;
}

.content__membership_item {
    font-size: 1.3rem;
    text-align: center;
}

.content__membership_list-item > img {
    border-radius: 10px;
}

.content__membership_list li:nth-child(3),
.content__membership_list li:nth-child(4),
.content__membership_list li:nth-child(5),
.content__membership_list li:nth-child(6) {
    border-bottom: 0.5px solid grey;
    margin: 0 2em;
}

.content__membership_list li:last-child {
    margin-bottom: 1em;
}

.content__membership_list-item > button {
    display: block;
    width: 140px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 0.5px solid black;
    background-color: transparent;
    text-transform: uppercase;
}

@media (min-width: 320px) {

    .header__logo_img {
        max-width: 140px;
    }

}

@media (min-width: 768px) {

    .header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .header__logo_img {
        max-width: 170px;
        margin-bottom: 1em;
    }

    #header__input,
    .header__btn {
        display: none;
    }

    .header__top-nav {
        width: 100%;
    }

    .header__list {
        width: 100%;
        visibility: visible;
        display: flex;
        right: 0;
        position: relative;
        background-color: transparent;
        box-shadow: none;
        padding: 0 3em;
        overflow: hidden;
    }

    .header__list_item {
        display: flex;
        font-size: 1.3rem;
        font-weight: 500;
        letter-spacing: 3px;
        margin: 0 auto;
    }

    .header__mobile-logo {
        display: none;
    }

    .header__list_item:hover,
    .header__list_item:active,
    .header__list_item:focus {
        background-color: transparent;
        transition: all 0.4s ease;
    }

    .header__link::after {
        display: block;
        position: absolute;
        left: 0;
        height: 1px;
        background-color: #000;
        content: "";
        transition: width 0.4s ease-out;
    }
    
    .header__link:hover::after,
    .header__link:focus::after {
        width: 100%;
    }
    
    .header__link.list-link {
        display: block;
        position: relative;
        text-decoration: none;
        color: #444444;
    }

    .content__about_paragraphe-wrapper {
        width: 85%;
        margin: 0 auto 2em auto;
    }

    .content__about_paragraphe {
        font-size: 1.3rem;
    }

    .content__about_top3 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .content__about_top3-item {
        padding: 0 2em;
        max-width: 350px;
    }

    .accordion-button {
        font-size: 1.5rem;
    }

    .accordion-body__row {
        font-size: 1.4rem;
    }

    .content__gallery_wrapper {
        display: grid;
        grid-template-areas: 
        "row1_item1 row1_item2"
        "row2_item1 row2_item2"
        "row3_item1 row3_item2"
        "row4_item1 row4_item2";
    }

    .content__membership_content-wrapper {
        display: grid;
        grid-template-areas:
        "row1_item1 row1_item2"
        "row2_item1 row2_item2";
    }
}

@media (min-width: 992px) {

    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header__logo {
        width: 210px;
        flex-shrink: 0;
        margin-right: 5em;
    }

    .header__top-nav {
        flex-wrap: wrap;
    }

    .header__list_item {
        align-items: center;
    }

    .content__about_paragraphe-wrapper {
        width: 70%;
    }

    .accordion {
        flex-grow: 1;
        margin: auto;
    }

    .content__price {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .content__price_img {
        margin: auto;
    }

    .content__gallery_wrapper {
        display: grid;
        grid-template-areas: 
        "row1_item1 row1_item2 row1_item3"
        "row2_item1 row2_item2 row2_item3"
        "row3_item1 row3_item2 row3_item3";
    }

    .content__membership_content-wrapper {
        display: grid;
        grid-template-areas:
        "row1_item1 row1_item2 row1_item3 row1_item4";
    }

    .content__membership_item {
        padding: 0 1em;
    }

    .content__membership_link:hover span {
        display: block;
        width: 160px;
        height: 115px;
        background-color: white;
        position: relative;
        left: 25px;
        top: 10px;
        z-index: 1;
        opacity: 60%;
    }
    
    .content__membership_link:hover img {
        position: relative;
        margin-top: -115px;
    }
}

@media (min-width: 1200px) {

    .content__about_paragraphe-wrapper {
        width: 50%;
    }

}

@media (min-width: 1400px) {

    .content__about_paragraphe-wrapper {
        width: 600px;
    }
}
